{% extends "main/main_base.html" %}  {# main/main_base.html extends layout.html #}

{% block content %}
    {% from "common/form_macros.html" import render_field, render_submit_field %}
    <form action="" method="POST" class="form" role="form">
      <h2>{%trans%}签报编号{%endtrans%}</h2>
        {{ form.hidden_tag() }}

        {{ render_field(form.title, tabindex=240) }}

        {{ render_field(form.drafted_by, tabindex=250) }}

        {{ render_submit_field(form.submit, tabindex=280) }}
<!--      <button type="submit">Request report No.</button>-->

    </form>
{% endblock %}
